<title>Korean test</title>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-theme.min.css">    
</head>
<body>
    <div class="container">
        <div id="content"></div>
    </div>
    <script src="FileSaver.min.js"></script>
    <script src="template.js"></script>
    <script src="config.js"></script>
    <script src="korean.js"></script>
</body>
